@import '@/styles/_helpers.scss';

.sellerContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: toRem(10);
}

.sellerDescContainer {
    padding-inline: toRem(20);
    background-color: #F4F4F2;
    border-radius: toRem(10);
    padding-block: toRem(10);
    display: flex;
    align-items: center;
    gap: toRem(30);

    img {
        border-radius: 50%;
        height: toRem(100);
        width: toRem(100);
        object-fit: contain;
        object-position: center center;
    }

    .sellerDesc {
        width: 100%;
        gap: toRem(10);

        span {
            text-transform: capitalize;
        }

        .title {
            font-size: toRem(15);
        }

        div {
            display: flex;
            justify-content: space-between;
        }
    }
}

.extraContainer {
    padding-inline: toRem(30);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: toRem(15);
    gap: toRem(10);
    span {
        display: flex;
        justify-content: space-between;
        color: rgba(0, 0, 0, 0.6);
    }

    p {
        color: black;
    }
}