@import "@/styles/_helpers.scss";

.mainWrapper {
    @apply py-6 px-3;
}

.headerWrapper {
    @apply grid grid-cols-3;
}

.headerContainer {
    @apply grid gap-5;
}

.header {
    @apply flex items-center gap-3;
    font-size: toRem(14);
    line-height: toRem(14);
    font-family: "Satoshi";
    color: var(--color-primary);

    :nth-child(2) {
        color: var(--color-secondary);
    }
}

.nameContainer {
    @apply grid items-center;
    grid-template-columns: 1fr 4fr;

    img {
        @apply size-16 rounded-full bg-white border border-solid border-gray-400;
    }

    .name {
        @apply flex flex-col gap-4;
        font-family: "Satoshi";
        line-height: toRem(16);
        font-size: toRem(16);
        font-weight: 700
    }
}

.mainContainer{
    @apply pt-10;
    :global {
        .ant-tabs-tab-btn {
            color: var(--color-primary) !important;
            font-family: 'Satoshi';
            font-size: toRem(12) !important;
            overflow: scroll;
            width: 100%;
            user-select: none
        }

        .ant-tabs-nav-list {
            @apply px-5;
            width: 100%;
            justify-content: space-around;
            overflow: scroll !important;
        }

        .ant-tabs-ink-bar {
            width: 33.33% !important;
            border-bottom: toRem(1) solid var(--color-primary);
        }
    }
}