@import '@/styles/_helpers.scss';

.productWrapper {
    @apply max-w-7xl mx-auto mt-10;

    .productCategory {
        @apply flex items-center gap-2 text-gray-500 mb-10;

        span:last-child {
            color: black;
        }
    }

    .mainContainer {
        @apply grid gap-10;
        grid-template-columns: repeat(2, 1fr);
        height: toRem(530);
    }

    .productImageContainer {
        @apply grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: toRem(15);

        >div {
            @apply flex justify-center items-center;
            background-color: #F0EEED;
            border-radius: toRem(20);
            // add a border on hover

            &:not(:first-child) {
                width: toRem(152);
                height: toRem(167);

                &:hover {
                    border: toRem(1) solid black;
                }
            }
        }

        .div1 {
            grid-area: 1 / 2 / 4 / 4;
            width: toRem(444);

            img {
                width: toRem(370);
                height: auto;
            }
        }

        .div2 {
            grid-area: 1 / 1 / 2 / 2;
        }

        .div3 {
            grid-area: 2 / 1 / 3 / 2;
        }

        .div4 {
            grid-area: 3 / 1 / 4 / 2;
        }

    }

    .descriptionContainer {
        @apply flex flex-col gap-3;

        .productTitle {
            font-family: 'Integral';
            font-size: toRem(40);
        }

        .rateContainer {
            @apply flex gap-5;

            span {
                @apply flex;
                font-family: 'Satoshi';
                font-size: toRem(16);

                p {
                    color: rgba(0, 0, 0, 0.8);
                }
            }

            :global {
                .ant-rate {
                    color: #FFC633;

                }
            }
        }

        .priceContainer {
            @apply flex gap-5 items-center;

            font-size: toRem(32);
            font-family: 'Satoshi';
            font-weight: 700;

            span:nth-child(2) {
                color: rgba(0, 0, 0, 0.5);
                text-decoration: line-through;
            }

            span:nth-child(3) {
                @apply px-3 py-1 rounded-full;
                color: #FF3333;
                font-size: toRem(16);
                font-weight: 500;
                background-color: #ff33334c;

            }
        }

        .description {
            font-family: 'Satoshi';
            font-size: toRem(16);
            color: rgba(0, 0, 0, 0.8);
            font-weight: 500;
        }

        .variationContainer {
            @apply w-full flex flex-col justify-center gap-3 py-2;
            border-top: toRem(1) solid rgba(0, 0, 0, 0.5);

            .label {
                font-family: 'Satoshi';
                font-size: toRem(16);
                color: rgba(0, 0, 0, 0.5)
            }

            div {
                @apply flex gap-5;

                span {
                    @apply rounded-full flex items-center justify-center;

                    background-color: red;
                    color: white;
                    font-size: toRem(20);
                    font-weight: 500;
                    height: toRem(37);
                    width: toRem(37);
                }
            }
        }

        .sizeVariationContainer {
            @apply w-full flex flex-col justify-center gap-3 py-2;
            border-top: toRem(1) solid rgba(0, 0, 0, 0.5);

            .label {
                font-family: 'Satoshi';
                font-size: toRem(16);
                color: rgba(0, 0, 0, 0.5)
            }

            div {
                @apply flex gap-4;

                span {
                    @apply px-5 rounded-full flex items-center capitalize;
                    font-size: toRem(16);
                    color: rgba(0, 0, 0, 0.5);
                    height: toRem(50);
                    background-color: #F0EEED;
                }
            }
        }

        .addToCartContainer {
            @apply flex gap-5 py-6;
            border-top: toRem(1) solid rgba(0, 0, 0, 0.5);
            font-family: 'Satoshi';

            .addToCart {
                @apply flex gap-7 rounded-full items-center justify-center py-3;
                background-color: #F0EEED;
                width: toRem(170);
                font-size: toRem(16);

                svg {
                    width: toRem(20);
                    height: toRem(20);
                }
            }

            .button {
                @apply text-center bg-black text-white w-full rounded-full flex items-center justify-center;
            }
        }
    }

}