@import '@/styles/_helpers.scss';

.orderWrapper {
    @apply grid gap-5 items-center;
    grid-template-columns: auto 1fr;
    height: auto;

    .image {
        @apply rounded-3xl flex items-center justify-center object-cover object-center p-3;
        height: toRem(80);
        width: toRem(80);
        background-color: #F0EEED;
    }

    .textContainer {

        .title {
            @apply flex justify-between;
        }

        .variant {
            @apply grid grid-cols-1;
            font-family: 'Satoshi';
            font-size: toRem(12);

            span {
                @apply flex gap-1;
                color: black;
                font-weight: 500;

                p {
                    color: var(--color-secondary);
                }
            }

            @media screen and (max-width: 576px) {
                font-size: toRem(12);
            }

        }

        .title {
            span {
                font-family: 'Satoshi';
                font-size: toRem(14);
                font-weight: 800;
                cursor: pointer;
            }

            svg {
                color: #FF3333;
                width: toRem(20);
                height: toRem(20);
            }
        }

        .price {
            @apply pt-4;
            font-family: "Satoshi";
            font-size: toRem(15);
            font-weight: 600;

            .addItemContainer {
                @apply flex justify-center items-center gap-5 text-black py-1 px-3 rounded-full;
                font-size: toRem(10);
                background-color: #F0EEED;
            }

            span:nth-child(2) {
                @apply line-through pl-1;
                color: var(--color-secondary);
            }

            span:nth-child(3) {
                @apply text-red-600 p-1 px-2 ml-2 rounded-full;
                background-color: #ff33333d;
                width: toRem(45);
                height: toRem(20);
                font-size: toRem(10);
            }
        }
    }
}

.qty {
    font-family: "Satoshi";
    font-size: toRem(12);
}