@import '@/styles/_helpers.scss';

.navigationWrapper {
    inline-size: 100%;
    padding-block: toRem(40);

    img {
        height: 1.3rem;
        width: auto;
        padding: 0.1rem;
    }

    .headerContainer {
        span {
            letter-spacing: 0.3rem;
            font-weight: 700;

            a {
                color: black;

            }
        }
    }
}

.menuItem {
    text-transform: uppercase;
    letter-spacing: toRem(1);
    pointer-events: auto;
    color: black;
    transition: all 0.1s ease;

    &:hover {
        color: rgba(50, 50, 50, 0.5);
        transform: scale(1.1);
    }
}

.navigation {
    display: flex;
    align-items: center;
    height: 0;
    gap: toRem(20);
}

.navigationMobile {
    display: flex;
    align-items: center;
}

.navigationIcon {
    display: inline-block;
    // padding-block-start: toRem(20);

    svg {
        block-size: toRem(20);
        inline-size: toRem(20);
    }
}

.collectionsContainer {
    padding-block-start: toRem(10);
}

.collectionItem {
    inline-size: 100% !important;
}

@media only screen and (max-width: 768px) {
    .navigation {
        display: none;
    }
}


@media only screen and (min-width: 769px) {
    .navigationMobile {
        display: none;

        img {
            height: toRem(10);
            width: toRem(10);
        }
    }


}