.navigationWrapper {
    inline-size: 100%;

    img {
        height: 1.3rem;
        width: auto;
        padding: 0.1rem;
    }

    .headerContainer {
        span {
            letter-spacing: 0.3rem;
            font-weight: 700;
        }
    }
}

.icons {
    padding-inline-start: 1.5rem;
    svg {
        height: 0.9rem;
        width: auto;
    }
}
