@import "@/styles/_helpers.scss";

.profileTitle {
    padding-block: toRem(10);
    font-size: toRem(20);
    font-family: "Integral"
}

.profileImage {
    @apply object-cover h-full rounded-full;
    background-color: #f8f8f8;
}