@import "@/styles/_helpers.scss";
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;400&display=swap');

.profileTitle {
    padding-block: toRem(10);
    font-size: toRem(20);
}

.profileImage {
    @apply object-cover h-full rounded-full;
    background-color: #f8f8f8;
}