@import '@/styles/_helpers.scss';

.productContainer {
    height: auto;
    min-width: toRem(180);
    font-family: 'Satoshi';

    .imageContainer {
        @apply rounded-3xl flex items-center justify-center object-cover object-center mb-5;
        background-color: #F0EEED;
        height: toRem(180);

        img {
            @apply w-auto h-20;
        }
    }

    .productHeader {
        font-size: toRem(12);
        font-weight: 600;
        color: var(--color-primary);
        cursor: pointer
    }

    .rateContainer {
        @apply flex items-center;
        gap: toRem(20);

        span {
            font-size: toRem(12);
        }

        .rate {
            color: var(--color-primary)
        }
    }

    .priceContainer {
        @apply flex items-center gap-2 pt-2;

        font-size: toRem(16);
        color: var(--color-primary);

        :nth-child(1) {
            font-weight: 700;
        }

        :nth-child(2) {
            @apply opacity-50 line-through;
            font-weight: 700;
        }

        :nth-child(3) {
            @apply text-red-600 flex justify-center items-center rounded-full;
            background-color: #ff33333d;
            width: toRem(45);
            height: toRem(20);
            font-size: toRem(10);
        }
    }
}