@import "@/styles/_helpers.scss";

.specsHeader {
    @apply mt-[1rem];
    font-size: toRem(18);
    font-weight: 700;
    font-family: "Integral"
}

.specificationsWrapper {
    @apply grid grid-cols-2;
}

.labelContainer,
.detailsContainer {
    @apply flex flex-col gap-1;
}

.labelContainer {
    >* {
        font-family: "Satoshi";
        color: var(--color-secondary);
    }
}

.detailsContainer {
    >* {
        color: var(--color-primary);
    }
}