.productWrapper {
    margin-block-start: 95dvh;
}

.carousel {
    cursor: grab;
    overflow: hidden;
    margin-block-end: 10rem; // for debugging
}

.innerCarousel {
    display: flex;

    .item {
        max-height: 40rem;
        width: auto;
        padding: 0 1rem;

        .cardTitle {
            letter-spacing: 2px;
            font-weight: 500;
            font-size: 11px;
        }

        .cardDescription {
            font-size: 11px;
        }

        .cardFooter {
            color: black;
            font-size: 14px;
        }

        img {
            pointer-events: none;
            block-size: 200px;
        }
    }
}