@import '@/styles/_helpers.scss';

.productWrapper {
    margin-block-start: 95dvh;
}

.carousel {
    cursor: grab;
    overflow: hidden;
    margin-block-end: 5rem; // for debugging
}

.innerCarousel {
    display: flex;

    .item {
        max-height: 40rem;
        width: auto;
        padding: 0 1rem;

        .cardTitle {
            letter-spacing: toRem(2);
            font-weight: 500;
            font-size: toRem(11);
        }

        .cardDescription {
            font-size: toRem(11);
        }

        .cardFooter {
            color: black;
            font-size: toRem(14);
        }

        img {
            pointer-events: none;
            block-size: toRem(200);
        }
    }
}