@import '@/styles/_helpers.scss';


.ratingWrapper {
    @apply py-5 px-3
}

.headerContainer {
    @apply flex justify-between items-center gap-2 px-5;

    div:first-child {
        @apply flex gap-5 items-center;

        font-family: "Satoshi";

        span:first-child {
            font-size: toRem(20);
            line-height: toRem(20);
            font-weight: 700;
        }

        span:last-child {
            font-size: toRem(12);
            line-height: toRem(12);
            color: var(--color-secondary);
        }
    }

    div:last-child {
        @apply flex gap-1 justify-center items-center;
        height: toRem(24);

        .filter {
            @apply rounded-full p-2;
            background-color: var(--bg-secondary);

            svg {
                height: toRem(15);
                width: toRem(15)
            }
        }

        .latest {
            @apply flex justify-center items-center gap-3 py-1 px-4 rounded-full;
            background-color: var(--bg-secondary);
            font-size: toRem(12)
        }

        .review {
            @apply py-1 px-4 bg-black text-white rounded-full;
        }

        @media screen and (max-width: 576px) {
            .filter {
                @apply rounded-full p-1;
            }

            .latest {
                @apply gap-1 px-3;
            }


            .review {
                @apply px-3;
            }
        }
    }

}

.reviewWrapper {
    @apply grid justify-items-center gap-5 pt-10 px-3;
    grid-template-columns: repeat(auto-fill, minmax(toRem(300), 1fr));

    @media screen and (max-width: 700px) {
        @apply grid-cols-1;
    }
}

.loadMoreReview {
    @apply flex items-center justify-center my-10 py-2 bg-white text-black max-w-44 mx-auto rounded-full;
    border: toRem(1) solid var(--border-color);
    font-size: toRem(12);
}

.productWrapper {
    @apply flex gap-5 mt-16 overflow-scroll;
}