@import '@/styles/_helpers.scss';

.footerWrapper {
    @apply mt-48 px-5 h-auto;
    background-color: var(--bg-secondary);
}

.newsLetterContainer {
    @apply p-8 mr-auto ml-auto max-w-7xl bg-black relative -top-20 flex justify-between gap-10;
    border-radius: toRem(25);
    height: auto;

    .title {
        @apply text-white;
        font-family: 'Integral';
        font-size: toRem(30);
    }

    .inputContainer {
        width: 70%;

        .input {
            @apply bg-white rounded-full pl-3;
            height: auto;

            svg {
                height: toRem(15);
                width: toRem(15);
                margin-right: toRem(20);
            }

            [type=text] {
                font-size: toRem(14);
            }

            ::placeholder {
                font-size: toRem(14);
            }
        }

        .button {
            @apply bg-white w-full text-black flex items-center justify-center rounded-full mt-5 capitalize py-3;
            height: auto;
            font-size: toRem(12);
        }

        @media screen and (max-width: 992px) {
            @apply w-full;
        }
    }

    @media screen and (max-width: 992px) {
        @apply flex-col;
    }
}

.mainFooterContainer {
    @apply max-w-7xl mr-auto ml-auto flex gap-20 px-5;

    .titleContainer {
        @apply flex flex-col gap-6;
        width: auto;

        .title {
            font-family: 'Integral';
            font-size: toRem(32);
            line-height: toRem(32);
        }

        .extraText {
            font-family: 'Satoshi';
            font-size: toRem(12);
            color: rgba(0, 0, 0, 0.8);
        }

        .iconContainer {
            @apply flex gap-5 justify-start;

            svg {
                width: toRem(30);
                height: toRem(30);
            }
        }
    }

    .extraContainer {
        @apply grid w-full;
        grid-template-columns: repeat(4, 1fr);

        div {
            @apply flex flex-col gap-5;
            color: rgba(0, 0, 0, 0.8);
            font-family: 'Satoshi';
            font-size: toRem(14);

            :first-child {
                color: black;
                letter-spacing: toRem(1);
                font-weight: 500
            }
        }

        @media screen and (max-width: 768px) {
            @apply justify-items-center gap-y-10;
            grid-template-columns: repeat(2, 1fr);

            div {
                align-items: center;
            }
        }

        @media screen and (max-width: 400px) {
            @apply grid-cols-1;

            div {
                align-items: center;
            }
        }
    }

    @media screen and (max-width: 992px) {
        @apply flex-col;
    }
}

.extraFooterContainer {
    @apply max-w-7xl mr-auto ml-auto px-5;

    .reservedContainer {
        @apply flex justify-between items-center;
        font-family: 'Satoshi';
        font-size: toRem(14);
        color: rgba(0, 0, 0, 0.8);

        .cardContainer {
            @apply flex;

            img {
                width: toRem(50);
                height: toRem(50);
            }

            @media screen and (max-width: 400px) {
                img {
                    width: toRem(35);
                    height: toRem(35);
                }
            }
        }

        @media screen and (max-width: 768px) {
            @apply flex-col;
        }
    }

}