@import '@/styles/_helpers.scss';

.footerWrapper {
    @apply mt-48 h-auto mx-auto;
    background-color: var(--bg-secondary);
}

.newsLetterContainer {
    @apply p-6 bg-black relative -top-20 gap-10 flex items-center justify-center max-w-6xl mx-auto px-5;
    border-radius: toRem(25);
    height: auto;

    .title {
        @apply text-white;
        font-family: 'Integral';
        font-size: toRem(25);
        font-weight: 600;
    }

    .inputContainer {
        width: 50%;

        .input {
            @apply bg-white rounded-full pl-3;
            height: auto;

            svg {
                height: toRem(15);
                width: toRem(15);
                margin-right: toRem(20);
            }

            [type=text] {
                font-size: toRem(14);
                color: var(--color-primary)
            }

            ::placeholder {
                font-size: toRem(14);
                color: black
            }
        }

        .button {
            @apply bg-white w-full text-black flex items-center justify-center rounded-full mt-5 capitalize py-3;
            height: auto;
            font-size: toRem(12);
        }

        @media screen and (max-width: 992px) {
            @apply w-full;
        }
    }

    @media screen and (max-width: 992px) {
        @apply flex-col;
    }
}

.mainFooterContainer {
    @apply max-w-6xl mr-auto ml-auto flex gap-20 px-4;

    .titleContainer {
        @apply flex flex-col gap-6;
        width: auto;
        color: var(--color-primary);

        .title {
            font-family: 'Integral';
            font-size: toRem(24);
            line-height: toRem(24);
            font-weight: 600;
        }


        .extraText {
            font-family: 'Satoshi';
            font-size: toRem(12);
            color: var(--color-secondary);
        }

        .iconContainer {
            @apply flex gap-5 justify-start;

            svg {
                width: toRem(20);
                height: toRem(20);
            }
        }
    }

    .extraContainer {
        @apply grid w-full justify-items-center;
        grid-template-columns: repeat(4, 1fr);

        div {
            @apply flex flex-col gap-5;
            color: var(--color-primary);
            font-family: 'Satoshi';
            font-size: toRem(12);

            :first-child {
                letter-spacing: toRem(1);
                font-weight: 500
            }
        }

        @media screen and (max-width: 768px) {
            @apply justify-items-center gap-y-10;
            grid-template-columns: repeat(2, 1fr);

            div {
                align-items: center;
            }
        }

        @media screen and (max-width: 400px) {
            @apply grid-cols-1;

            div {
                align-items: center;
            }
        }
    }

    @media screen and (max-width: 992px) {
        @apply flex-col;
    }
}

.extraFooterContainer {
    @apply max-w-6xl mx-auto;

    .reservedContainer {
        @apply flex justify-between items-center px-5;
        font-family: 'Satoshi';
        font-size: toRem(12);
        color: var(--color-secondary);

        .cardContainer {
            @apply flex items-center;

            img {
                height: toRem(35);
                width: 100%;
            }

        }

        @media screen and (max-width: 768px) {
            @apply flex-col;
        }
    }

}