.home_container {
  padding: 0;
  max-width: 100%;
  overflow: hidden;
}

.landing_container {
  position: relative;
}

.landing_image {
  height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing_container:after {
  content: "";
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.landing_title_container {
  position: absolute;
  top: 35%;
  text-align: center;
  max-width: 100%;
  padding: 0;
  width: 100vw;
  color: black;
  font-family: "Poppins", sans-serif;
  z-index: 100;
}

.landing_title {
  letter-spacing: var(--font-letterspacing-5);
  font-size: var(--font-size-8);
  font-weight: var(--font-weight-5);
  text-transform: uppercase;
}

.landing_description,
.landing_title {
  max-width: 100%;
}

@media screen and (max-width: 576px) {
  .landing_title_container {
    top: 30%;
  }
  .landing_title {
    font-size: var(--font-size-6);
    letter-spacing: var(--font-letterspacing-4);
  }

  .landing_description {
    font-size: var(--font-size-fluid-0);
  }
}
