.content {
  margin-top: var(--size-8);
}

.home_title_container {
  padding-bottom: var(--size-4);

  .home_title {
    font-family: "Righteous", cursive;
    font-size: var(--font-size-5);
  }
}

.home_header_container {
  margin-bottom: var(--size-8);

  .featured_title {
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.3);
    font-size: var(--font-size-4);
    letter-spacing: 1px;
    padding-bottom: 18px;
    font-weight: 700;

    span {
      border-bottom: 1px solid rgba($color: #000000, $alpha: 1);
      padding-bottom: 20px;
    }
  }
}
