.navbar-toggler {
  width: 30px;
  height: 20px;
  position: relative;
  transition: 0.5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
}

.navbar-toggler span {
  margin: 0;
  padding: 0;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #292929;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.middle-bar {
  margin-top: 0px;
}

// When Navigation is Clicked

.navbar-toggler .top-bar {
  margin-top: 0px;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  margin-top: 0px;
  transform: rotate(-135deg);
}

// State when the navbar is collapsed
.navbar-toggler.collapsed .top-bar {
  margin-top: -20px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  margin-top: 20px;
  transform: rotate(0deg);
}

.navbar {
  font-family: "Poppins", sans-serif;
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.03);
}

#navbar__Container {
  max-width: 100%;
  width: 1140px;
}

.nav-link {
  opacity: 0.5;
}

.nav-link,
.navbar-brand,
.form-control {
  text-decoration: none;
  font-size: 14.4px;
  color: var(--gray-9) !important;
  margin: var(--size-1) var(--size-1);
}

.active {
  opacity: 1;
}

.form-control {
  border: 1px solid rgba($color: #000000, $alpha: 0.2);
  width: 75%;
  border-radius: var(--radius-round);
}

.form {
  display: flex;
  flex-direction: row;
}
.search-field {
  width: 90%;
  padding: 5px 10px;
  border-radius: 100px;
}

.search-button {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -50px;
}

.search-button img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

@media screen and (max-width: 992px) {
  .search-field {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .navbar-brand {
    margin: auto;
  }
}
