.product_main_container {
  margin-top: 5rem;
  color: white;
}

.product_image,
.landing_image {
  width: 100%;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  object-position: center;
}

.product_title_container {
  font-family: "Poppins", sans-serif;
}

.product_header {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.product_description {
  max-width: 80%;
}

.product_image_main {
  position: relative;
}

.product_image_container {
  width: 500px;
  padding: 0.1rem;
}

.left-button,
.right-button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  color: black;
  background-color: white;
  border-radius: var(--radius-round);
  z-index: 100;
}

.left-button {
  left: 0;
}

.right-button {
  right: 0;
}

.product_image {
  width: 100%;
  height: 15rem;
  border-radius: 0.2rem;
}

@media screen and (max-width: 1200px) {
  .slide {
    padding: 0;
  }

  .product_image_container {
    width: 420px;
    padding: 0.1rem;
  }
}

@media screen and (max-width: 992px) {
  .product_title_container {
    text-align: center;
  }

  .product_description {
    max-width: 100%;
  }
  .product_image_main {
    margin-top: 3rem;
  }

  .product_image_container {
    width: 550px;
    padding: 0.1rem;
  }

  .left-button {
    left: -4rem;
  }

  .right-button {
    right: -4rem;
  }

  .product_image_container {
    position: relative;
  }

  .left-button,
  .right-button {
    position: absolute;
  }
}

@media screen and (max-width: 768px) {
  .product_image_container {
    position: unset;
  }
  .product_image_main {
    position: relative;
  }

  .left-button {
    left: 2rem;
  }

  .right-button {
    right: 2rem;
  }

  .product_image_container {
    width: 400px;
    padding: 0.1rem;
  }
}

@media screen and (max-width: 576px) {
  .product_description {
    max-width: 100%;
  }

  .product_image_container {
    width: auto;
    padding: 0.1rem;
  }

  .left-button {
    left: 0.5rem;
  }

  .right-button {
    right: 0.5rem;
  }

  .left-button,
  .right-button {
    color: white;
    background-color: black;
  }
}
