.productdetails_container {
  margin-top: 4rem;
  color: white;
}

.left-arrow {
  left: 25px;
}

.right-arrow {
  right: 25px;
}

.main_image {
  border-radius: 0.2rem;
  height: auto;
  padding: 1rem 0rem;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
  transform: scale(0.9);
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1);
}

.rest_image {
  height: auto;
  width: auto;
}

.rest_image_container {
  padding: 0 0.3rem;
}

.details_container {
  margin-top: var(--size-4);
  font-family: "Poppins", sans-serif;
}

.details_title {
  font-size: var(--font-size-4);
  font-weight: 700;
}

.details_description {
  font-size: var(--font-size-2);
  margin-bottom: 2rem;
}

.details_description_header,
.details_description,
.price_container,
.price_container_link,
.shop_link_container,
.orig_price_container {
  font-family: "Quicksand", sans-serif;
}

.orig_price {
  text-decoration: line-through;
}

.orig_price_container,
.orig_price,
.price_container,
.price_container_link {
  letter-spacing: 2px;
  margin-left: 1rem;
  font-size: var(--font-size-2);
  font-weight: 600;
}

.price_container,
.price_container_link,
.shop_link_container {
  margin: 0;
  margin-right: 2rem;
  text-align: start;
}

.link_image_container,
.price_container_link,
.shop_link_container {
  padding: 0;
}

.links_details_container {
  display: flex;
  margin-top: 2rem;
  align-items: center;
}

.link_image {
  width: auto;
  height: 2rem;
  background: white;
  border-radius: 0.4rem;
}

.shop_link {
  text-decoration: none;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.shop_link:focus {
  color: rgb(105, 105, 105);
}

.socials_container {
  display: flex;
  justify-content: start;
  margin-bottom: 2rem;
}

.socials_container > * {
  margin-right: 10px;
}

.details_container,
.socials_header_container,
.socials_container {
  margin-top: 1rem;
}

.socials_header {
  margin-top: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .main_image {
    height: 20rem;
    width: auto;
    padding: 1rem 0rem;
  }
}

@media screen and (max-width: 576px) {
  .link_image {
    display: none;
  }
  .orig_price_container {
    margin: 0;
    max-width: 100%;
  }

  .links_details_container {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .price_container_link {
    grid-column: 1/2;
  }
}

@media screen and (min-width: 576px) {
  .slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main_image {
    height: 25rem;
    padding: 1rem 0rem;
  }

  .left-arrow,
  .right-arrow {
    color: rgb(255, 255, 255);
  }

  .mainimage_container,
  .restimage_container,
  .details_container,
  .details_description,
  .orig_price_container,
  .links_details_container,
  .socials_header_container,
  .socials_container {
    margin: 0;
    max-width: 100%;
  }

  .details_container,
  .orig_price_container,
  .socials_header_container,
  .socials_container {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .rest_image {
    height: 125px;
    width: auto;
  }
}

// .rest_image {
//   overflow: hidden;

//   transform: scale(0.9);
//   transition: all 0.5s ease;
// }

// .rest_image:hover {
//   transform: scale(1);
// }

// .details_container,
// .price_container,
// .main_image_container,
// .details_container,
// .links_details_container,
// .link_image_container,
// .price_container_link,
// .shop_link_container,
// .socials_header_container,
// .socials_container {
//   padding: 0;
// }

// @media screen and (max-width: 992px) {
//   .rest_image_container {
//     display: none;
//   }

//   .slide {
//     display: grid;
//     justify-items: center;
//   }

//   .main_image {
//     height: 25rem;
//     padding: 1rem 3rem;
//   }

//   .details_title {
//     text-align: start;
//   }

//   .links_details_container {
//     display: grid;
//     grid-auto-flow: column;
//   }
// }

// @media screen and (max-width: 768px) {
//   .main_image {
//     height: 20rem;
//     padding: 1rem 3rem;
//   }
// }

// @media screen and (max-width: 576px) {
//   .image_container {
//     padding: 0;
//   }
//   .main_image {
//     padding: 0;
//   }

//   .slide {
//     padding: 0;
//   }

//   .link_image {
//     display: none;
//   }
// }
