.card_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
}

.card_image_container {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card_image {
  transform: scale(1);
  height: 100%;
  transition: all 0.5s ease;
}

.card_title {
  text-transform: capitalize;
}

.card_description {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
}

.card_image:hover {
  transform: scale(1.1);
}

.card_image_link {
  height: 1.5rem;
  width: 5rem;
}

.card_link {
  text-decoration: none;
  color: black;
}

.card_link:hover {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 576px) {
  .card_outer_container {
    margin: 0.5rem 0rem;
  }

  .card_image:hover {
    transform: none;
  }
}

@media screen and (max-width: 420px) {
  .card_container {
    display: flex;
  }
}
