.productdetails_container {
  margin-top: 4rem;
  color: white;
}

.mainimage_container {
  position: relative;
}

.left-arrow,
.right-arrow {
  cursor: pointer;
  position: absolute;
  z-index: 100;
  top: 50%;
}

.left-arrow {
  left: 0px;
}

.right-arrow {
  right: 0px;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
  transform: scale(0.9);
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1);
}

.rest_image_container {
  padding: 0 0.3rem;
  margin-top: 1rem;
}

.rest_image {
  height: auto;
  width: auto;
}

.details_description,
.orig_price_container,
.links_details_container {
  font-family: "Quicksand", sans-serif;
}

.details_container {
  margin-top: var(--size-4);
}

.details_title {
  font-family: "Poppins", sans-serif;
  font-size: var(--font-size-4);
  font-weight: 700;
}

.details_description {
  font-size: var(--font-size-2);
  margin-bottom: 2rem;
}

.socials_header {
  margin-top: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.orig_price {
  letter-spacing: 2px;
  margin-left: 1rem;
  font-size: var(--font-size-2);
  font-weight: 600;
  text-decoration: line-through;
}

.links_details_container {
  display: grid;
  margin-top: 2rem;
  align-items: center;
  grid-template-columns: 2fr 1fr 4fr;
}

.link_image {
  width: auto;
  height: 2rem;
  background: white;
  border-radius: 0.4rem;
}

@media screen and (max-width: 1200px) {
  .left-arrow {
    left: -15px;
  }

  .right-arrow {
    right: -15px;
  }

  .link_image_container {
    padding: 0;
  }
}
.discount_price {
  font-size: large;
  font-weight: 700;
}
.shop_link {
  text-decoration: none;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.shop_link:focus {
  color: rgb(105, 105, 105);
}

.socials_container > * {
  margin-right: 10px;
}

@media screen and (max-width: 992px) {
  .slide {
    display: flex;
    justify-content: center;
  }
  .main_image {
    height: 25rem;
  }
}

@media screen and (max-width: 768px) {
  .main_image {
    height: 20rem;
  }
}

@media screen and (max-width: 576px) {
  .main_image {
    height: 15rem;
  }
  .left-arrow,
  .right-arrow {
    background-color: rgba(0, 0, 0, 1);
    border-radius: var(--radius-round);
  }

  .left-arrow {
    left: 15px;
  }

  .right-arrow {
    right: 15px;
  }

  .link_image_container {
    display: none;
  }

  .price_container_link {
    padding: 0;
  }
}
