.card-description,
.link-header {
  font-size: var(--font-size-2);
}

.mainimage_container {
  position: relative;
}

.left-arrow,
.right-arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  color: rgb(255, 255, 255);
  z-index: 100;
  background-color: black;
  border-radius: var(--radius-round);
}

.product_image,
.landing_image,
.card_image,
.img_product {
  width: 100%;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 992px) {
  .left-arrow,
  .right-arrow {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 420px) {
  .left-arrow,
  .right-arrow {
    font-size: 2.2rem;
  }
}
