.link-header,
.card-title {
  font-family: "Poppins", sans-serif;
}

.card-description,
.link-header {
  font-size: var(--font-size-2);
}

.left-arrow,
.right-arrow {
  font-size: 3rem;
}

.rest_image_container,
.main_image_container {
  position: relative;
}

.left-arrow,
.right-arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  color: black;
  background-color: white;
  border-radius: var(--radius-round);
  z-index: 100;
}

.landing_image,
.card_image,
.img_product {
  width: 100%;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  object-position: center;
}
@media screen and (max-width: 992px) {
  .left-arrow,
  .right-arrow {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 420px) {
  .left-arrow,
  .right-arrow {
    font-size: 2.2rem;
  }
}
