@import "font";
@import "repeated";

* {
  /* Reset browser's padding and margin */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// .navbar,
// .product_details_container,
// #about__container,
// #products_container,
// #footer_container {
//   background-color: white;
// }

body {
  background-color: rgb(0, 0, 0);
}
