@import '@/styles/_helpers.scss';

.productHeaderContainer {
    span {
        font-weight: 300;
        letter-spacing: toRem(3);
    }

    h1 {
        font-size: toRem(50);
        font-weight: 800;
    }
}

.filterWrapper {
    margin-block: toRem(50);
    gap: toRem(50);

    .filterContainer {
        gap: toRem(30);

        .filterLabel {
            text-transform: uppercase;
            letter-spacing: toRem(2);
            text-wrap: nowrap;
        }
    }
}

@media only screen and (max-width: 768px) {
    .filterWrapper {
        display: none !important;
    }
}