@import '@/styles/_helpers.scss';

.headerContainerText {
    position: absolute;
    top: 25%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    max-width: 38rem;

    span {
        font-size: toRem(32);
        font-weight: 700;
    }
}

.landingImageContainer {
    position: absolute;
    top: 0;
    z-index: -10;

    img {
        opacity: 0.5;
        width: 100dvw;
        height: 70dvh;
        object-fit: cover;
    }
}

.landingButtonContainer {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;

    :nth-child(1) {

        a {
            background-color: black;
            color: white;
            padding: 0.7rem 4rem;
            font-size: 0.8rem;
            letter-spacing: 0.2rem;
            border-radius: 0.3rem;
        }
    }

    :nth-child(2) {
        letter-spacing: 0.1rem;
        font-size: toRem(12);
    }
}

.featuredContainer {
    position: absolute;
    top: 80%;
    left: 0;
    right: 0;

    :nth-child(1) {
        font-size: 2rem;
        font-weight: 700;
    }

    :nth-child(2) {
        font-size: 0.8rem;
        margin-block-start: 1rem;
        color: rgba(0, 0, 0, 0.6);
    }
}