@import '@/styles/_helpers.scss';

.mainWrapper {
    @apply max-w-6xl mx-auto gap-5 pt-10 grid pl-5 pr-5 items-center h-auto;
    grid-template-columns: minmax(toRem(300), 1fr) 1fr;

    @media screen and (max-width: 992px) {
        @apply grid-flow-row;
        grid-template-columns: 1fr;
    }
}

.textContainer {
    @apply flex flex-col gap-5;

    .mainText {
        font-family: 'Integral';
        font-size: toRem(32);
        line-height: toRem(32);
        letter-spacing: toRem(3);
        font-weight: 600;
        color: var(--color-primary);
    }

    .extraText {
        font-family: 'satoshi' !important;
        font-size: toRem(16);
        font-weight: 300;
        color: var(--color-primary);
    }

    @media screen and (max-width: 992px) {
        align-items: center;
        text-align: center;
    }
}

.imageContainer {
    position: relative !important;

    :nth-child(1) {
        height: toRem(400);
        width: 100%;
        object-fit: contain;
        object-position: center center;
    }

    :nth-child(2) {
        @apply absolute top-8 right-32;
        width: toRem(50);
        height: toRem(50);
    }

    :nth-child(3) {
        @apply absolute top-[15rem] left-[8rem];
        width: toRem(30);
        height: toRem(30);
    }

    @media screen and (max-width: 450px) {
        @apply flex items-center justify-center;

        :nth-child(1) {
            height: toRem(280);
            width: auto;
        }

        :nth-child(3) {
            width: toRem(20);
            height: toRem(20);
        }
    }
}

.buttonContainer {
    @apply flex items-center justify-center rounded-full;
    width: toRem(140);
    height: toRem(40);
    font-size: toRem(14);
    color: var(--bg-secondary);
    background-color: var(--color-primary);

    @media screen and (max-width: 992px) {
        width: toRem(150);
        height: toRem(40);
    }
}

.footerTextContainer {
    @apply grid pb-10;
    grid-template-columns: repeat(3, 1fr);


    div {
        @apply flex flex-col px-2;
        width: auto;
        color: var(--color-primary);
        border-right: toRem(1) solid var(--color-secondary);
        font-family: 'satoshi';

        :first-child {
            font-size: toRem(25);
            font-weight: 700;
        }

        :last-child {
            font-size: toRem(16);
            line-height: toRem(16);
            font-weight: 300;
        }
    }

    :last-child {
        border-right: none;
    }

    // @media screen and (max-width: 992px) {
    //     @apply justify-items-center grid-flow-col pb-0;
    //     grid-template-columns:repeat(auto-fill, toRem(180));
    // }

    @media screen and (max-width: 576px) {
        @apply grid-cols-1 gap-3;
    }

    //     div {
    //         :first-child {
    //             font-size: toRem(30);
    //         }

    //         :last-child {
    //             font-size: toRem(12);
    //         }
    //     }

    // }
}

.footerWrapper {
    @apply w-full;
    color: var(--color-primary);
    background-color: var(--white-color)
}

.footerContainer {
    @apply max-w-6xl mx-auto grid gap-4 items-center justify-items-center justify-center py-6;
    grid-template-columns: repeat(auto-fit, toRem(180));

    img {
        width: toRem(140);
        height: toRem(25);
        object-fit: contain;
        object-position: center center;
    }
}

.categoryWrapper {
    @apply max-w-6xl mx-auto pt-12 px-8 pb-20;
    border-radius: toRem(40);
    background-color: var(--bg-secondary);
    text-align: center;
}

.reviewWrapper {
    @apply max-w-6xl mx-auto mt-20 mb-20;

    .reviewContainer {
        @apply flex justify-between items-center mb-10 px-5;

        .header {
            font-family: 'Integral';
            font-size: toRem(32);
            line-height: toRem(32);
            text-transform: uppercase;
            font-weight: 600;
        }

        .arrowContainer {
            @apply flex gap-10 items-center;

            svg {
                width: toRem(24);
                height: toRem(24);
            }
        }

        @media (max-width: 992px) {
            @apply flex-col gap-3
        }
    }

    .reviewsContainer {
        @apply grid grid-flow-col overflow-scroll gap-5 px-5;
    }
}