@import "@/styles/_helpers.scss";

.joinContainer {
    inline-size: 100%;
}

.joinImageContainer {
    img {
        height: auto;
        width: 50%;
    }
}

.middleContainer {
    gap: toRem(30);
    height: 100%;
    padding-block: toRem(50);

    h1 {
        font-size: toRem(52);
        font-weight: 900;
    }

    span {
        padding: toRem(10) toRem(30);
        border: toRem(1) solid #65635F;
        border-radius: toRem(4);
        font-size: toRem(12);
        letter-spacing: toRem(1);
    }
}