@import "@/styles/_helpers.scss";

.orderHeader {
    @apply capitalize select-none;
    font-size: toRem(32);
    line-height: toRem(32);
    font-weight: 600;
    letter-spacing: toRem(1);
    font-family: "Integral";
    color: var(--color-primary);
}

.detailsWrapper{
    @apply grid mt-16;
    grid-template-columns: 1fr 2fr;
}

.timelineTitle{
    font-size: toRem(14);
    line-height: toRem(14);
    font-family: "Satoshi";
    color: var(--color-primary);
}