@import '@/styles/_helpers.scss';

.addProductContainer {
    @apply grid grid-cols-12 grid-rows-2;
    margin-bottom: toRem(10);
    border-radius: toRem(15);

    .imgContainer {
        @apply flex items-center justify-center;
        grid-area: 1 / 1 / 3 / 2;

        img {
            @apply h-auto w-16;
        }
    }

    .productHeader {
        @apply h-auto flex flex-col pb-3;
        grid-area: 1 / 2 / 2 / 12;

        span {
            font-size: toRem(15);
        }
    }

    div:nth-of-type(3) {
        grid-area: 2 / 2 / 3 / 12;
        align-self: center;

        .priceContainer {
            @apply flex items-center gap-2;

            font-size: toRem(20);
            color: var(--color-primary);

            :nth-child(1) {
                font-weight: 700;
            }

            :nth-child(2) {
                @apply opacity-50 line-through;
                font-weight: 700;
            }

            :nth-child(3) {
                @apply text-red-600 flex justify-center items-center rounded-full;
                background-color: #ff33333d;
                width: toRem(45);
                height: toRem(20);
                font-size: toRem(10);
            }
        }
    }

    div:nth-of-type(4) {
        grid-area: 1 / 12 / 3 / 13;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: toRem(15);

        svg {
            width: toRem(15);
            height: toRem(15);
        }

        :nth-child(2) {
            color: red;
        }
    }

}

.description {
    overflow: hidden;
    text-overflow: ellipsis;
}

.modalTitle {
    font-family: "Integral";
    font-size: toRem(20);
    color: var(--color-primary);
}