@import "@/styles/_helpers.scss";

.footerWrapper {
    background-color: #F4F4F2;
    block-size: toRem(170);
    padding-block: toRem(45);
}

.socialMediaContainer {
    span {
        letter-spacing: toRem(2);
        font-size: toRem(10);

        a {
            color: #65635F;
        }
    }
}