@import "@/styles/_helpers.scss";
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;400&display=swap');

.profileHeader {
    padding-block-end: toRem(25);

    :nth-child(1) {
        font-size: toRem(32);
        line-height: toRem(32);
        font-weight: 600;
        letter-spacing: toRem(1);
        text-transform: capitalize;
        font-family: "Integral";
        color: var(--color-primary);
        user-select: none;
    }

    :nth-child(2) {
        font-size: toRem(12);
        line-height: toRem(12);
        color: var(--color-secondary);
    }
}


.tabsContainer {
    margin-block-end: toRem(15);

    :global {
        .ant-tabs-tab-btn {
            letter-spacing: toRem(1);
            font-family: "Satoshi";
            color: var(--color-primary);
        }
    }
}


.orderWrapper {
    @apply flex flex-col w-full;

    >div {
        @apply p-3 rounded-md;
    }

    >:nth-child(odd) {
        background-color: rgba(0, 0, 0, 0.05) !important;
    }

    >:nth-child(even) {
        background-color: rgba(213, 213, 213, 0.05) !important;
    }
}