@import '@/styles/_helpers.scss';

.mainWrapper {
    @apply max-w-7xl mx-auto my-10 px-5;
}

.profileHeader {
    span:nth-child(1) {
        font-size: toRem(40);
        font-weight: 500;
    }

    span:nth-child(2) {
        font-size: toRem(12);
    }
}

.tabsContainer {
    padding-block: toRem(20);

    :global {
        .ant-tabs-tab-btn {
            letter-spacing: toRem(1);
        }

        .ant-tabs-tab {
            border-radius: toRem(4) toRem(4) 0 0 !important;
        }
    }
}