@import '@/styles/_helpers.scss';

.featuresItem {
    display: flex;
    border: toRem(1) solid #e8e8e8;
    border-radius: toRem(8);
    overflow: hidden;
    box-shadow: 0 toRem(4) toRem(8) 0 rgba(0, 0, 0, 0.2);
    width: toRem(370);

    .image {
        img {
            width: toRem(80);
            height: auto;
            object-fit: cover;
            object-position: center center;
        }
    }

    .featuresTextContainer {
        padding: toRem(16);
        background-color: #fff;
        width: 80%;

        :nth-child(1) {
            font-size: toRem(16);
            font-weight: 400;
            margin: 0;
            color: #333;
            letter-spacing: toRem(1);
        }

        :nth-child(2) {
            font-size: toRem(14);
            color: #666;
            text-overflow: ellipsis;
            overflow: hidden;
            width: auto;
        }
    }
}


.itemContainer {
    margin-inline: toRem(5);
    inline-size: toRem(300);
    block-size: toRem(280);
    display: flex;
    flex-direction: column;
    cursor: pointer;

    img {
        pointer-events: none;
        block-size: toRem(200);
        inline-size: toRem(300);
        border-radius: toRem(10);
        padding-block-end: toRem(10);
        object-fit: cover;
        object-position: center;
    }

    .cardTitle {
        letter-spacing: toRem(0.3);
        font-weight: 900;
        font-size: toRem(15);
        text-transform: capitalize;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .cardDescription {
        font-size: toRem(13);
        white-space: break-spaces;
        overflow: hidden;
        overflow: hidden;
    }

    .cardFooter {
        color: black;
        font-size: toRem(14);
        margin-top: auto;
        font-weight: 500;
    }

}

.productHeaderContainer {
    span {
        font-weight: 300;
        letter-spacing: toRem(3);
    }

    h1 {
        font-size: toRem(50);
        font-weight: 800;
    }
}

@media only screen and (max-width: 600px) {
    .featuresItem {
        width: toRem(300);
    }
}

@media only screen and (max-width: 400px) {
    .featuresItem {
        width: toRem(250);
    }
}