@import '@/styles/_helpers.scss';

.header {
    @apply w-full flex justify-center items-center text-center;
    font-family: 'Integral';
    font-size: toRem(32);
}

.newArrivalWrapper {
    @apply max-w-7xl ml-auto mr-auto pt-10;

    .viewButtonContainer {
        @apply flex justify-center items-center pb-10;

        .button {
            @apply bg-white text-black flex justify-center items-center rounded-full;
            width: toRem(218);
            height: toRem(52);
            border: toRem(1) solid rgb(200, 200, 200);
        }
    }

}

.productContainer {
    @apply p-5 gap-5 overflow-scroll flex;
}

.reviewContainer {
    @apply p-10 rounded-3xl;
    height: toRem(270);
    width: toRem(450);
    font-family: 'Satoshi';
    border: toRem(1) solid var(--border-color);

    .nameContainer {
        @apply flex items-center gap-3 pt-5 pb-3;

        span {
            font-size: toRem(20);
            font-weight: 600;
        }

        svg {
            width: toRem(20);
            height: toRem(20);
            border-radius: 50%;
            color: white;
            background-color: #01AB31;
            padding: toRem(2);
        }
    }

    .comment {
        font-size: toRem(16);
        line-height: toRem(16);
        color: var(--color-secondary);
    }

    @media screen and (max-width: 576px) {
        @apply p-5;
    }
}