@import "@/styles/_helpers.scss";

.collectionsContainer {
    background-color: #F4F4F2;
    padding-block: 3rem;
}

.featuresItemContainer {
    justify-content: center;
    flex-wrap: wrap;
    margin-block-start: toRem(50);
}

.headerText {
    text-align: center;

    :nth-child(1) {
        font-size: toRem(32);
        font-weight: 800;
    }

    :nth-child(2) {
        font-size: 0.8rem;
        margin-block-start: 1rem;
        color: rgba(0, 0, 0, 0.6);
    }
}