.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.formContainer {
    margin: 4rem 0 0.5rem 0;
    inline-size: 50%;
}

.passwordContainer {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
