@import '@/styles/_helpers.scss';

.navWrapper {
    @apply grid w-full;
    grid-template-columns: 10fr 1fr;
    justify-items: center;
    height: toRem(30);
    font-family: 'satoshi';
    background-color: var(--color-primary);
    color: var(--bg-secondary);
    font-weight: 300;
    font-size: toRem(14);

    span {
        @apply flex flex-row items-center;
    }

    p {
        font-weight: 500;
        padding-inline-start: toRem(10);
        text-decoration: underline;
    }

    @media screen and (max-width: 420px) {
        font-size: toRem(10);
    }
}