@import "@/styles/_helpers.scss";

.blogContainer {
    padding-block: toRem(100)
}

.titleContainer {
    padding-block-end: toRem(100);

    :nth-child(1) {
        font-size: toRem(52);
        font-family: 'Cormorant-600';
    }

    :nth-child(2) {
        font-size: toRem(13);
        letter-spacing: toRem(1.3);
        text-transform: uppercase;
        font-family: 'Jost';
    }
}

.blogItem {
    width: toRem(371);

    img {
        max-height: toRem(200);
        max-width: 100%;
    }

    .featuresTextContainer {
        padding-block: toRem(10);

        :nth-child(1) {
            font-family: 'Cormorant-700';
            font-size: toRem(17);
            line-height: toRem(24);
            letter-spacing: toRem(0.3)
        }

        :nth-child(2) {
            font-family: 'Jost';
            font-size: toRem(14);
            line-height: toRem(19);
        }

        :nth-child(3) {
            font-family: 'Jost';
            font-size: toRem(13);
            line-height: toRem(25);
            letter-spacing: toRem(1.3);
            text-decoration-line: underline;
            text-transform: uppercase;
        }
    }
}