@import "@/styles/_helpers.scss";

.orderHeader {
    @apply capitalize select-none;
    font-size: toRem(32);
    line-height: toRem(32);
    font-weight: 600;
    letter-spacing: toRem(1);
    font-family: "Integral";
    color: var(--color-primary);
}

.detailsWrapper{
    @apply grid mt-16;
    grid-template-columns: 1fr 2fr;

    :global {
        // .ant-timeline{
        //     li {
        //     padding-bottom: toRem(20);
        //     }
        // }
        // .ant-timeline-item-content{
        //     font-size: toRem(12);
        //     line-height: toRem(12);
        // }
    }
}