@import '@/styles/_helpers.scss';

.orderWrapper {
    @apply flex flex-col w-full;
}

.orderContainer {
    @apply flex mb-[1rem] items-center gap-[1rem] w-full;
    font-family: "Satoshi";

    img {
        @apply p-[1rem] w-auto rounded-md;
        height: toRem(100);
        background-color: var(--bg-secondary);
    }
}

.orderDescription {
    @apply flex flex-col flex-1;

    span:nth-child(1) {
        font-weight: 600;
    }
}