@import '@/styles/_helpers.scss';

.cartWrapper {
    @apply max-w-6xl mx-auto my-10 px-5;

    .productCategory {
        @apply flex items-center gap-2 mb-10;
        color: var(--color-secondary);
        font-size: toRem(12);

        span:last-child {
            color: var(--color-primary);
        }
    }

}

.mainWrapper {
    @apply grid gap-5;
    grid-template-columns: 1.4fr 1fr;
}

.orderSummaryContainer,
.cartContainer {
    @apply p-5 rounded-3xl;
    border: toRem(1) solid var(--border-color);
    color: var(--color-primary);
    background-color: var(--white-color);
}

.subContent {
    @apply flex justify-between pb-2;
    font-size: toRem(12);
    font-family: "Satoshi";

    :nth-child(1) {
        font-weight: 400;
        color: var(--color-secondary);
    }

    :nth-child(2) {
        font-weight: 700;
    }

    &.total {
        :nth-child(1) {
            color: var(--color-primary);
        }
    }

    &.discount {
        :nth-child(2) {
            color: #FF3333;
        }
    }

    &.promoCode {
        @apply gap-5;

        span {
            @apply rounded-full;
            background-color: var(--bg-secondary);

            input {
                &[type="text"] {
                    font-family: "Satoshi";
                    font-size: toRem(14)
                }

                ::placeholder {
                    font-size: toRem(14);
                }
            }

            :global {
                .ant-input-prefix {
                    svg {
                        width: toRem(14);
                        height: toRem(14);
                        margin-right: toRem(10)
                    }
                }
            }
        }

        div {
            @apply p-2 px-6 rounded-full;
            font-weight: 400;
            font-size: toRem(12);
            font-family: "Satoshi";
            background-color: var(--color-primary);
            color: var(--white-color);
        }
    }
}

.checkout {
    @apply flex justify-center items-center p-2 rounded-full mb-5 gap-3 cursor-pointer;
    user-select: none;
    font-size: toRem(14);
    background-color: var(--color-primary);
    color: var(--white-color);
}

.header {
    @apply pb-5 uppercase;
    font-family: 'Integral';
    font-size: toRem(20);
    line-height: toRem(20);
    font-weight: 700;
    color: var(--color-primary);
}

.addressWrapper {
    @apply flex justify-between;

    .addressDetails {
        @apply flex-1 pr-3;
    }

    .addressDetails,
    .selection {
        @apply flex flex-col justify-around h-full gap-3;

        div {
            @apply p-1 rounded-md;
        }
    }
}

.footerBtn {
    @apply flex gap-5 items-center;

    >* {
        user-select: none
    }

    .submitBtn {
        @apply px-5 py-2 rounded-md cursor-pointer;
        background-color: var(--color-primary);
        color: var(--white-color);
        font-family: "Satoshi";
    }
}

.paymentMethod {
    @apply flex flex-col gap-3;

    span:nth-child(1) {
        font-weight: 400;
        color: var(--color-secondary);
        font-size: toRem(12);
        font-family: "Satoshi";
    }
}

.addInfoBtn{
    @apply px-5 py-2 rounded-md cursor-pointer max-w-[7rem];
    background-color: var(--color-primary);
    color: var(--white-color);
    font-family: "Satoshi";
    font-size: toRem(12);
    user-select: none;
}