@import '@/styles/_helpers.scss';


.ratingWrapper {
    @apply py-5
}

.headerContainer {
    @apply flex justify-between items-center;

    div:first-child {
        @apply flex gap-5 items-center;

        font-family: "Satoshi";

        span:first-child {
            font-size: toRem(24);
            line-height: toRem(24);
            font-weight: 700;
        }

        span:last-child {
            font-size: toRem(16);
            line-height: toRem(16);
            color: var(--color-secondary);
        }
    }

    div:last-child {
        @apply flex gap-5 justify-center items-center;
        height: toRem(48);

        .filter {
            @apply rounded-full p-2;
            background-color: var(--bg-secondary);

            svg {
                height: toRem(25);
                width: toRem(25)
            }
        }

        .latest {
            @apply flex justify-center items-center gap-3 py-3 px-5 rounded-full;
            background-color: var(--bg-secondary);
        }

        .review {
            @apply py-3 px-5 bg-black text-white rounded-full;
        }
    }

}

.reviewWrapper {
    @apply grid grid-cols-2 justify-items-center gap-5 pt-10;

    .reviewContainer {
        @apply p-10 rounded-3xl;
        inline-size: toRem(610) !important;
        height: toRem(270);
        font-family: 'Satoshi';
        border: toRem(1) solid var(--border-color);
    }
}

.loadMoreReview {
    @apply flex items-center justify-center my-10 py-4 bg-white text-black max-w-52 mx-auto rounded-full;
    border: toRem(1) solid var(--border-color);
    font-size: toRem(16);
}

.productWrapper {
    @apply grid grid-cols-4 py-5 justify-items-center;
}