@import '@/styles/_helpers.scss';

.orderContainer {
    @apply flex mb-[1rem] items-center gap-[1rem] w-full;
    font-family: "Satoshi";

    img {
        @apply p-[1rem] w-auto rounded-md;
        height: toRem(80);
        background-color: white;
        border: toRem(1) solid rgba(0, 0, 0, 0.2)
    }
}

.orderDescription {
    @apply flex flex-col flex-1;

    .orderName {
        font-weight: 600;
    }
}

.extraWrapper {
    @apply flex flex-col items-end gap-1;

    font-size: toRem(12);
    color: var(--color-primary);

    .status {
        font-weight: 600;
    }

    .price {
        @apply pl-1;
        font-weight: 700;
    }
}

.orderHeader {
    span:nth-child(1) {
        @apply flex items-center gap-2 cursor-pointer;
        font-size: toRem(14);
        font-weight: 500;
    }
}

.rateBtn {
    @apply p-1 px-2 rounded-md;
    background-color: var(--color-primary);
    color: var(--white-color);
}