@import '@/styles/_helpers.scss';

.orderContainer {
    @apply flex mb-[1rem] items-center gap-[1rem] w-full;
    font-family: "Satoshi";

    img {
        @apply p-[1rem] w-auto rounded-md;
        height: toRem(100);
        background-color: var(--bg-secondary);
    }
}

.orderDescription {
    @apply flex flex-col flex-1;

    span:nth-child(1) {
        font-weight: 600;
    }
}

.priceContainer {
    @apply flex items-center gap-2 pt-2;

    font-size: toRem(16);
    color: var(--color-primary);

    :nth-child(1) {
        font-weight: 700;
    }

    :nth-child(2) {
        @apply opacity-50 line-through;
        font-weight: 700;
    }

    :nth-child(3) {
        @apply text-red-600 flex justify-center items-center rounded-full;
        background-color: #ff33333d;
        width: toRem(45);
        height: toRem(20);
        font-size: toRem(10);
    }
}