@import '@/styles/_helpers.scss';

.productWrapper {
    margin-block-start: toRem(100);
}

.carousel {
    display: flex;
    padding-block: toRem(100);
    overflow: auto;
}

.itemContainer {
    margin-inline: toRem(5);
    inline-size: toRem(300);
    block-size: toRem(280);
    display: flex;
    flex-direction: column;

    img {
        pointer-events: none;
        block-size: toRem(200);
        inline-size: toRem(300);
        border-radius: toRem(10);
        padding-block-end: toRem(10);
        object-fit: cover;
        object-position: center;
    }

    .cardTitle {
        letter-spacing: toRem(1);
        font-weight: 900;
        font-size: toRem(13);
    }

    .cardDescription {
        font-size: toRem(11);
        white-space: break-spaces;
    }

    .cardFooter {
        color: black;
        font-size: toRem(14);
        margin-top: auto;
        font-weight: 500;
    }

}