@import '@/styles/_helpers.scss';

.productWrapper {
    margin-block-start: toRem(100);
}

.carousel {
    cursor: grab;
    overflow: hidden;
    padding-block: 5rem; // for debugging
}

.innerCarousel {
    display: flex;

    .item {
        padding: 0 toRem(10);

        .itemContainer {
            width: toRem(240);
            height: toRem(350);
        }

        .cardTitle {
            letter-spacing: toRem(2);
            font-weight: 500;
            font-size: toRem(11);
        }

        .cardDescription {
            font-size: toRem(11);
            white-space: break-spaces;
        }

        .cardFooter {
            color: black;
            font-size: toRem(14);
            flex: 1;
        }

        img {
            pointer-events: none;
            block-size: toRem(200);
        }
    }
}