@import '@/styles/_helpers.scss';
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.3s ease-in;

    ::-webkit-scrollbar {
        display: none !important;
    }

    @media screen and (max-width: 768px) {
        display: none;
    }
}

.ant-select-dropdown {
    font-family: 'Jost' !important;
    text-transform: uppercase;
    letter-spacing: toRem(1);
    inline-size: auto !important;

    .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
        background-color: rgba(0, 0, 0, 0.5) !important;
        color: white !important;
    }
}

label.ant-form-item-required::before {
    align-self: flex-end !important;
}

.ant-form-item-explain-error {
    text-align: center;
    font-size: toRem(10);
}

.ant-btn-primary {
    box-shadow: none !important;
}