* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Cormorant-600';
    src: url('../public//fonts/Cormorant-VariableFont_wght.ttf');
    font-weight: 600;
}
