@import '@/styles/_helpers.scss';
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.3s ease-in;

    // touch-action: pan-x pan-y !important;
    ::-webkit-scrollbar {
        display: none !important;
    }
}

.ant-form-item .ant-input-affix-wrapper {
    box-shadow: 0 toRem(1.5) #65635F;
}

.ant-select-dropdown {
    font-family: 'Jost' !important;
    text-transform: uppercase;
    letter-spacing: toRem(1);

    .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
        background-color: rgba(0, 0, 0, 0.5) !important;
        color: white !important;
    }
}