@import "@/styles/_helpers.scss";

.collectionsContainer {
    background-color: #F4F4F2;
    height: 22rem;
    padding-block: 3rem;
}

.featuresItemContainer {
    display: flex;
    flex-wrap: wrap;
    margin-block-start: 1rem;
}

.featuresItem {
    display: flex;
    border: 1px solid #e8e8e8;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: toRem(370);

    .image {
        img {
            width: toRem(80);
            height: toRem(80);

        }
    }

    .featuresTextContainer {
        padding: toRem(16);
        background-color: #fff;
        font-family: 'Jost';
        width: 100%;

        :nth-child(1) {
            font-size: toRem(16);
            font-weight: 400;
            margin: 0;
            color: #333;
            letter-spacing: toRem(1);
        }

        :nth-child(2) {
            font-size: toRem(14);
            color: #666;
        }
    }
}