@import "@/styles/_helpers.scss";

.collectionsContainer {
    background-color: #F4F4F2;
    height: 22rem;
    padding-block: 3rem;
}

.featuresItemContainer {
    display: flex;
    flex-wrap: wrap;
}

.featuresItem {
    display: flex;
    border: 1px solid #e8e8e8;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: toRem(370);
    margin-block-start: 1rem;
    width: 100%;
    height: toRem(70);

    .image {
        img {
            width: toRem(80);
            height: toRem(80);
        }

        // img {
        //     height: toRem(80);
        //     width: 100%;
        // }
    }

    .featuresTextContainer {
        width: 100%;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        background-color: #fff;
        font-family: 'Jost';


        :nth-child(1) {
            font-size: toRem(16);
            font-weight: 400;
            margin: 0;
            color: #333;
        }

        :nth-child(2) {
            font-size: toRem(14);
            color: #666;
        }
    }
}