@import '@/styles/_helpers.scss';

.extraProductHeader {
    text-align: center;
    padding-block: toRem(0);

    span {
        font-size: toRem(30);
        font-weight: 700;
    }
}

.extraProductContainer {
    gap: toRem(10);
    overflow: hidden;
}

.itemContainer {
    inline-size: toRem(150) !important;
    block-size: toRem(230) !important;
    gap: toRem(20);

    img {
        block-size: toRem(150) !important;
        inline-size: toRem(150) !important;
        border-radius: 0 !important;
    }

    span {
        display: inline-block;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    span:nth-of-type(3) {
        font-size: toRem(13);
        font-weight: 700;
    }

}