@import '@/styles/_helpers.scss';

.productContainer {
    gap: toRem(10);
}

.itemContainer {
    inline-size: toRem(150) !important;
    block-size: toRem(230) !important;
    gap: toRem(20);

    img {
        block-size: toRem(150) !important;
        inline-size: toRem(150) !important;
        border-radius: 0 !important;
    }

    span {
        display: inline-block;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    span:nth-of-type(2) {
        background-color: red;
    }

}