@import "@/styles/_helpers.scss";

.orderHeader {
    font-size: toRem(32);
    line-height: toRem(32);
    font-weight: 600;
    letter-spacing: toRem(1);
    text-transform: capitalize;
    font-family: "Integral";
    color: var(--color-primary);
    user-select: none;
}