@import '@/styles/_helpers.scss';

.navbarWrapper {
    @apply max-w-6xl mx-auto;
    border-bottom: toRem(1) solid var(--border-color);
    color: var(--color-primary);
}

.navbarContainer {
    @apply flex my-5 px-5;

    .navbarMobile {
        @apply flex items-center pr-4;

        @media screen and (min-width: 993px) {
            display: none;
        }

        @media screen and (max-width: 420px) {
            flex: 1;
        }

    }

    .navbarLogo {
        font-family: 'Integral';
        font-size: toRem(25);
        line-height: toRem(25);
        letter-spacing: toRem(3);
        font-weight: 600;

        @media screen and (max-width: 992px) {
            flex: 1;
        }

        @media screen and (max-width: 420px) {
            display: none;
        }

    }

    .navbarHeader {
        @apply pl-10 flex items-center justify-center gap-10 capitalize;
        text-wrap: nowrap;
        font-family: 'Satoshi';
        font-weight: 400;
        font-size: toRem(14);

        >* {
            @apply cursor-pointer;
        }

        @media screen and (max-width: 992px) {
            display: none;
        }
    }

    .input {
        @apply ml-10;
        width: toRem(400);
        color: var(--color-primary);

        @media screen and (max-width: 992px) {
            display: none;
        }
    }

    .smallInput {
        @media screen and (min-width: 993px) {
            display: none;
        }
    }

    .userContainer {
        @apply ml-10 flex justify-center gap-5;

        div {
            @apply flex items-center justify-center
        }

        svg {
            color: var(--color-primary);
            width: toRem(18);
            height: toRem(18);
        }
    }

    :global {
        .ant-input-filled {
            border-color: var(--border-color) !important;

            &:focus-within {
                background-color: var(--bg-secondary) !important
            }
        }
    }
}

.mobileMenuItem {
    @apply uppercase mb-5 text-center;
    font-size: toRem(16);
    font-weight: 500;
    font-family: 'Satoshi';
    letter-spacing: toRem(3);
}


.loginContainer {
    background-color: var(--bg-secondary);
    width: 100%;
}

.loginImage {
    display: block;
    inline-size: 30%;
    block-size: 100%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: toRem(10);
    }

    @media (max-width: 768px) {
        display: none;
    }
}

.loginForm {
    flex: 1;
    background-color: var(--bg-secondary);

    .loginHeader {
        margin-block-start: 1rem;
        font-family: "Integral";
        color: var(--color-primary);

        img {
            block-size: 1rem;
            inline-size: 1rem;
        }
    }

    .loginHeaderText {
        text-align: center;
        margin-block-start: 1rem;
        color: var(--color-primary);

        h1 {
            font-family: "Satoshi";
        }

        span {
            @apply text-3xl;
            font-family: 'Integral';
            font-weight: 700;
            margin-block-start: 0.5rem;

        }
    }
}

.loginButton {
    @apply flex justify-center items-center py-[0.5rem] rounded-md cursor-pointer;
    box-shadow: none !important;

    text-transform: uppercase;
    font-family: "Satoshi";
    font-weight: 400;
    letter-spacing: toRem(3);
    background-color: var(--color-primary);
    color: var(--bg-secondary);
}

.formContainer {
    text-align: end;
}

.rememberPassword {
    margin-block-end: 2rem;
}

.createAccountContainer {
    margin-block-start: 0.5rem;
    justify-self: flex-end;
}

.linkItem {
    letter-spacing: toRem(1);
}

@media only screen and (max-width: 768px) {
    .navigation {
        display: none;
    }
}


@media only screen and (min-width: 769px) {
    .navigationMobile {
        display: none;

        img {
            height: toRem(10);
            width: toRem(10);
        }
    }


}

.menuItems {
    font-family: "Satoshi";
    letter-spacing: toRem(1);
    color: var(--color-primary);
}

.userTypes {
    @apply cursor-pointer;
    color: var(--color-primary);
}